.container-task-panel {
    height: 50px;
}

.container-task-panel-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-task-panel-content h3 {
    font-size: 14px;
}

.container-task-panel-left {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--blue);
}

.container-task-panel-right {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--purple);
}