.ui-header {
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
}

.ui-header-light {
    background-color: var(--color-w);
    border-bottom: 1.5px solid var(--color-s);
}

.ui-header-dark {
    background-color: var(--color-6);
    border-bottom: 1.5px solid var(--color-5);
}

.ui-header-content {
    width: 1000px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ui-header-options {
    width: 85px;
    display: flex;
    justify-content: space-between;
}

.ui-header-icons {
    cursor: pointer;
}

.ui-header-icons:hover {
    transition: .4s;
}

.icon-mode-light {
    color: var(--color-5);
}

.icon-mode-light:hover {
    color: var(--color-b);
}

.icon-github-light {
    transition: .4s;
    color: var(--color-5);
}

.icon-github-light:hover {
    color: var(--color-b);
}

@media(max-width: 1000px) {
    .ui-header-content {
        width: 100%;
        padding: 0 50px;
    }
}